<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Movie</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <form action="/register/movies" method="POST">
        <label for="film_name">Movie Name</label>
        <input type="text" name="film_name" />

        <label for="film_actor">Actor Name</label>
        <input type="text" name="film_actor" />

        <label for="film_costar">Co-Star Name</label>
        <input type="text" name="film_costar" />

        <label for="film_description">Movie Description</label>
        <input type="text" name="film_description" />

        <label for="film_year">Movie Year of Release</label>
        <input type="text" name="film_year" />

        <label for="film_imdb">Movie IMDB Rating</label>
        <input type="text" name="film_imdb" />

        <button type="submit">Register Movie</button>
    </form>
</body>
</html>