body {
    background-color: orange;
}

h2 {
    color: blue;
}

h3 {
    color: purple;
}
form {
    color: purple;
}
label {
    color: green;
}
button {
    color: green;
}
img {
    padding: 7px, 7px;
    color: goldenrod;
}
