body {
    background-color: orange;
}

h2 {
    color: blue;
}

h3 {
    color: purple;
}
form {
    color: purple;
}
label {
    color: green;
}
button {
    color: green;
    padding: 9px 9px;
}
img {
    padding: 9px, 9px;
    color: goldenrod;
}
input {
    padding: 9px 9px;
}